<!DOCTYPE html>
<html>
<head>
  <title>Hangout</title>
  <%= stylesheet_link_tag    "application", "helpdesk-sample", :media => "all" %>
  <%= javascript_include_tag "application", "helpdesk-sample" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
